**__pycache__**
**build**
**egg-info**
**dist**
*.pyc
venv/
*.idea/
*.so
*.sh
*.pth
*.pkl
*.zip
*.bin
output
version.py
data/kitti/gt_database
data/kitti/gt_database_runtime_002_1
data/kitti/testing
data/kitti/training
tools/pretrained_weights